{% extends "base.html" %}
{% load widget_tweaks %}
{%block content%}
<div class="hold-transition login-page"style="background-color: #F4F6F9;height: auto;margin: 0px">
    <div class="login-box">
        <div class="card ">
            <div class="card-body login-card-body">
                <div class="login-box-msg">
                    <p class="text-center"> Change Password</p>
                        <form method="POST" action="{% url 'account_change_password' %}">
                            {% csrf_token %}
                            <label>old password</label>
                            <div class="input-group mb-3">
                                {% render_field form.oldpassword class="form-control " placeholder="current password" %}
                                {% if form.form.oldpassword.errors %}
                                    {{ form.form.oldpassword.errors }}
                                {% endif %}
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                     <span class="fas fa-lock"></span>
                            </div>
                            </div>
                        </div>
                        <label>New password</label>
                        <div class="input-group mb-3">
                                {% render_field form.password1 class="form-control " placeholder="New Password" %}
                                {% if form.form.password1.errors %}
                                    {{ form.form.password1.errors }}
                                {% endif %}
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                        </div>
                        <label>New password (again)</label>
                        <div class="input-group mb-3">
                                {% render_field form.password2 class="form-control " placeholder="New password (again)" %}
                                {% if form.form.password2.errors %}
                                    {{ form.form.password2.errors }}
                                {% endif %}
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                        </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Change password</button>
                        </div>
                        <!-- /.col -->
                        <a href="{% url 'account_reset_password' %}">forget password ?</a>
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</div>
</div>

{%endblock content%}

