{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Filter</h3>
                        </div>

                        <form method="GET">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Contact Person</label>
                                    <div class="input-group date">
                                        {% render_field myfilter.form.contact_person class="form-control" %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Phone</label>
                                    <div class="input-group date">
                                        {% render_field myfilter.form.phone class="form-control" placeholder="phone" %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Made_by</label>
                                    <div class="input-group date">
                                        {% render_field myfilter.form.made_by class="form-control" %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>From</label>
                                    <div class="input-group date">
                                        {% render_field myfilter.form.from_date class="form-control" type="date" %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>To</label>
                                    <div class="input-group date">
                                        {% render_field myfilter.form.to_date class="form-control" type="date" %}
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">

                                <button type="reset" class="btn btn-outline-secondary ">Reset</button>
                                <button type="submit" class="btn btn-outline-primary ">Submit</button>

                            </div>
                            <!-- /.form group -->
                        </form>


                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card -->

                <!-- /.card -->

                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"> All Whatsapp Messages </h3>

                            <div class="card-tools">
                                <a href="{% url 'tasks:send_whatsapp' %}"
                                   class="btn btn-outline-primary">Add New</a>
                            </div>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr>
                                    <th width="">#</th>
                                    {% if 'admins' in user.groups.all.0.name %}
                                        <th width="">User</th>
                                    {% endif %}
                                    <th width="">Company Name</th>
                                    <th width="">Contact</th>
                                    <th width="">Mobile</th>
                                    <th width="">Message</th>
                                    <th width="">Sent At</th>

                                </tr>
                                </thead>
                                <tr>
                                    {% for whats in whats %}
                                        <tr>
                                            <td width="">{{ whats.id }}</td>
                                            {% if 'admins' in user.groups.all.0.name %}
                                                <td width="">{{ whats.made_by }}</td>
                                            {% endif %}
                                            <td width="">{{ whats.contact_person.company }}</td>
                                            <td width="">{{ whats.contact_person }}</td>
                                            <td width="">{{ whats.contact_person.mobile }}</td>
                                            <td width="">{{ whats.message }}</td>
                                            <td width="">{{ whats.created_at }}</td>

                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer">
                            {% if whats.has_other_pages %}

                                <nav aria-label="Contacts Page Navigation">
                                    <ul class="pagination justify-content-center m-0">
                                        {% if whats.has_previous %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?page={{ whats.previous_page_number }}">
                                                previous </a></li>
                                        {% endif %}
                                        {% for i in whats.paginator.page_range %}
                                            {% if whats.number == i %}
                                                <li class="page-item active"><a class="page-link"
                                                                                href="?page={{ i }}"><span>{{ i }}</span>
                                                </a></li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link"
                                                                         href="?page={{ i }}"><span>{{ i }}</span> </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if whats.has_next %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?page={{ whats.next_page_number }}"> next</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

    </section>
{% endblock content %}