{% load static %}
{% block sidebar %}
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="{% url 'company:dashboard' %}" class="brand-link">
            <img src="{% static 'assets/dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo"
                 class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">A4m CRM</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user (optional) -->
            {% if user.is_authenticated %}
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    {% if user.profile.avatar %}
                        <div class="image">
                            <img src="{{ request.user.profile.avatar.url }} " class="img-circle elevation-2">
                        </div>
                    {% else %}
                        <div class="image">
                            <img class="img-circle elevation-2" style="max-height: 80px; width: 80px"
                                 src="https://via.placeholder.com/128"
                                 alt="">
                        </div>
                    {% endif %}
                    <div class="info">
                        <a href="{% url 'account:profile' request.user.id %}"
                           class="d-block">{{ request.user.username }}</a>
                    </div>
                </div>
            {% endif %}

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
                    <li class="nav-item has-treeview">
                        <a href="{% url 'company:dashboard' %}" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>

                    </li>
                    {% if 'admins' in user.groups.all.0.name or request.user.is_superuser %}
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fa fa-users nav-icon"></i>
                                <p>
                                    Users
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'account:list_user' %}" class="nav-link">
                                        <i class="fa fa-users nav-icon"></i>
                                        <p>Users List</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'account:add_user' %}" class="nav-link">
                                        <i class="fas fa-user-plus nav-icon"></i>
                                        <p>Add User</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="fas fa-lock nav-icon"></i>
                            <p>
                                Role
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">

                            <li class="nav-item">
                                <a href="{% url 'account:list_user_perms' %}" class="nav-link">
                                    <i class="fas fa-user nav-icon"></i>
                                    <p>User Permission List</p>
                                </a>
                            </li>


                            <li class="nav-item">
                                <a href="{% url 'account:list_group' %}" class="nav-link">
                                    <i class="fas fa-users-cog nav-icon"></i>
                                    <p>Group List</p>
                                </a>
                            </li>
                        </ul>




                    {% endif %}
                    <li class="nav-item has-treeview">
                        <a href="{% url 'contact:list_product' %}" class="nav-link">
                            <i class="nav-icon fas fa-bullhorn"></i>
                            <p>
                                Products

                            </p>
                        </a>
                    </li><li class="nav-item has-treeview">
                        <a href="{% url 'contact:list_lead' %}" class="nav-link">
                            <i class="nav-icon fas fa-copy"></i>
                            <p>
                                Leads

                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="{% url 'company:company_home' %}" class="nav-link">
                            <i class="nav-icon fas fa-building"></i>
                            <p>
                                Company

                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="{% url 'contact:contact_home' %}" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                Contacts
                            </p>
                        </a>
                    </li>

                    <li class="nav-item has-treeview">
                        <a href="{% url 'tasks:Task list' %}" class="nav-link">
                            <i class="nav-icon fas fa-tasks"></i>
                            <p>
                                Tasks
                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="{% url 'tasks:Task list' %}" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>
                                Activity
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                             <li class="nav-item">
                                <a href="{% url 'tasks:list_meeting' %}" class="nav-link">
                                    <i class="fa fa-users nav-icon"></i>
                                    <p>Meetings</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'tasks:list_call' %}" class="nav-link">
                                    <i class="fa fa-phone nav-icon"></i>
                                    <p>Calls</p>
                                </a>
                            </li><li class="nav-item">
                                <a href="{% url 'tasks:add_note' %}" class="nav-link">
                                    <i class="far fa-clipboard nav-icon"></i>
                                    <p>Notes</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'tasks:mail_list' %}" class="nav-link">
                                    <i class="fas fa-envelope nav-icon"></i>
                                    <p>Mails</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'tasks:whats_list' %}" class="nav-link">
                                    <i class="fab fa-whatsapp nav-icon"></i>
                                    <p>Whatsapp Messages</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="{% url 'tasks:Task list' %}" class="nav-link">
                            <i class="nav-icon far fa-file"></i>
                            <p>
                                Reports
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'company:company_report' %}" class="nav-link">
                                    <i class="fas fa-building nav-icon"></i>
                                    <p>Company</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'contact:contact_report' %}" class="nav-link">
                                    <i class="fa fa-users nav-icon"></i>
                                    <p>Contact</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'contact:lead_report' %}" class="nav-link">
                                    <i class="fas fa-copy nav-icon"></i>
                                    <p>Lead</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'tasks:activity_list' %}" class="nav-link">
                                    <i class="fas fa-edit nav-icon"></i>
                                    <p>Activity</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'tasks:calender' %}" class="nav-link">
                            <i class="nav-icon far fa-calendar-alt"></i>
                            <p>
                                Calendar
                            </p>
                        </a>
                    </li>
                    {% if request.user.is_superuser %}
                        <li class="nav-item">
                            <a href="{% url 'account:system_logs' %}" class="nav-link">
                                <i class="nav-icon far fa-calendar-alt"></i>
                                <p>
                                    System Log
                                </p>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>

    <!-- /.control-sidebar -->
{% endblock sidebar %}
